In [1]:
import pandas as pd
import numpy as np
import requests
import json
import urllib
import datetime

pd.set_option("display.max_columns", 300)
pd.set_option('display.max_rows', 300)
pd.options.mode.chained_assignment = None

Load in `df_bq`, which contains results from [this query](https://bigquery.cloud.google.com/results/infusionsoft-data-production:US.bquijob_47811bc0_16253f5e66f) from our payment records, and `df_wp`, which contains an export of WePay CAD transaction data.

Then, limit `df_bq` and `df_wp` to payments in January and February, filter by app name `qv200`, and limit `df_bq` to `PaymentSubType = 'INF_PAY'`.

In [2]:
df_bq = pd.read_csv('results-20180323-104407.csv')
df_bq['day_created'] = pd.to_datetime(df_bq.DateCreated)
df_bq['day_created'] = pd.DatetimeIndex(df_bq['day_created'] ).normalize()

df_bq = df_bq[(df_bq.appName == 'qv200') & (df_bq.day_created >= '2018-01-01') & (df_bq.day_created < '2018-03-01') & (df_bq.PaymentSubType == 'INF_PAY')].reset_index()

df_bq

,index,Id,ContactId,PaymentId,TotalAmountPaid,PaymentDate,TransactionType,CollectionMethod,PaymentSubType,PaymentGatewayId,ErrorMessage,TestPayment,GeneralValidationPassed,StrategyValidationPassed,ExecuteRan,ResultsBuilt,ErrorsMapped,Source,Deleted,DateCreated,LastUpdated,appName,PayType,CurrencyCode,day_created
0,5,114251,14061,3505,226.000000,2018-01-16 16:51:27.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-16 16:51:32.000000 UTC,2018-01-16 16:51:32.000000 UTC,qv200,Credit Card,CAD,2018-01-16
1,7,112751,7711,3457,110.680000,2018-01-07 04:38:51.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-07 04:38:54.000000 UTC,2018-01-07 04:38:54.000000 UTC,qv200,Credit Card,CAD,2018-01-07
2,8,112749,7711,3455,33.840000,2018-01-07 04:28:17.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-07 04:28:21.000000 UTC,2018-01-07 04:28:21.000000 UTC,qv200,Credit Card,CAD,2018-01-07
3,14,113517,12315,3467,33.840000,2018-01-11 23:16:38.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-11 23:16:41.000000 UTC,2018-01-11 23:16:41.000000 UTC,qv200,Credit Card,CAD,2018-01-11
4,15,113519,20317,3469,67.690002,2018-01-11 23:52:59.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-11 23:53:04.000000 UTC,2018-01-11 23:53:04.000000 UTC,qv200,Credit Card,CAD,2018-01-11
5,17,120431,22689,3655,75.709999,2018-02-23 02:08:36.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-23 02:08:40.000000 UTC,2018-02-23 02:08:40.000000 UTC,qv200,Credit Card,CAD,2018-02-23
6,20,115935,12473,3565,110.680000,2018-01-26 04:08:31.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,autochargeTask,False,2018-01-26 04:08:35.000000 UTC,2018-01-26 04:08:35.000000 UTC,qv200,Credit Card,CAD,2018-01-26
7,21,115825,21519,3561,33.840000,2018-01-25 15:07:51.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-25 15:07:56.000000 UTC,2018-01-25 15:07:56.000000 UTC,qv200,Credit Card,CAD,2018-01-25
8,22,111929,3985,3433,110.680000,2018-01-01 18:56:22.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-01 18:56:27.000000 UTC,2018-01-01 18:56:27.000000 UTC,qv200,Credit Card,CAD,2018-01-01
9,23,120433,22055,3657,75.709999,2018-02-23 05:26:46.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-23 05:26:52.000000 UTC,2018-02-23 05:26:52.000000 UTC,qv200,Credit Card,CAD,2018-02-23
10,26,114071,20427,3481,33.840000,2018-01-15 14:45:28.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-15 14:45:33.000000 UTC,2018-01-15 14:45:33.000000 UTC,qv200,Credit Card,CAD,2018-01-15
11,27,114077,20431,3487,110.680000,2018-01-15 15:37:28.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-15 15:37:35.000000 UTC,2018-01-15 15:37:35.000000 UTC,qv200,Credit Card,CAD,2018-01-15
12,28,114075,11991,3485,67.690002,2018-01-15 15:26:58.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-15 15:27:02.000000 UTC,2018-01-15 15:27:02.000000 UTC,qv200,Credit Card,CAD,2018-01-15
13,32,118521,7711,3623,339.000000,2018-02-11 16:29:15.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-11 16:29:19.000000 UTC,2018-02-11 16:29:19.000000 UTC,qv200,Credit Card,CAD,2018-02-11
14,36,112221,20129,3437,33.840000,2018-01-03 18:05:52.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-03 18:05:57.000000 UTC,2018-01-03 18:05:57.000000 UTC,qv200,Credit Card,CAD,2018-01-03
15,39,120191,20673,3651,339.000000,2018-02-21 20:25:56.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-21 20:26:01.000000 UTC,2018-02-21 20:26:01.000000 UTC,qv200,Credit Card,CAD,2018-02-21
16,40,120189,22641,3649,565.000000,2018-02-21 19:37:52.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-21 19:37:59.000000 UTC,2018-02-21 19:37:59.000000 UTC,qv200,Credit Card,CAD,2018-02-21
17,41,117993,15161,3615,565.000000,2018-02-08 14:06:18.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-08 14:06:23.000000 UTC,2018-02-08 14:06:23.000000 UTC,qv200,Credit Card,CAD,2018-02-08
18,42,118075,22407,3617,565.000000,2018-02-08 22:24:48.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-08 22:24:54.000000 UTC,2018-02-08 22:24:54.000000 UTC,qv200,Credit Card,CAD,2018-02-08
19,45,120817,22883,3661,197.750000,2018-02-25 14:27:37.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-25 14:27:43.000000 UTC,2018-02-25 14:27:43.000000 UTC,qv200,Credit Card,CAD,2018-02-25
20,47,115045,20789,3537,226.000000,2018-01-21 03:01:14.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-21 03:01:20.000000 UTC,2018-01-21 03:01:20.000000 UTC,qv200,Credit Card,CAD,2018-01-21
21,52,114577,4663,3511,33.840000,2018-01-18 12:49:27.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-18 12:49:33.000000 UTC,2018-01-18 12:49:33.000000 UTC,qv200,Credit Card,CAD,2018-01-18
22,53,114663,20667,3517,33.840000,2018-01-18 21:24:06.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-18 21:24:11.000000 UTC,2018-01-18 21:24:11.000000 UTC,qv200,Credit Card,CAD,2018-01-18
23,54,114665,14301,3519,67.690002,2018-01-19 01:40:42.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-19 01:40:48.000000 UTC,2018-01-19 01:40:48.000000 UTC,qv200,Credit Card,CAD,2018-01-19
24,55,114619,20657,3513,33.840000,2018-01-18 15:48:30.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-18 15:48:34.000000 UTC,2018-01-18 15:48:34.000000 UTC,qv200,Credit Card,CAD,2018-01-18
25,56,120663,9961,3659,339.000000,2018-02-24 19:18:14.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-24 19:18:19.000000 UTC,2018-02-24 19:18:19.000000 UTC,qv200,Credit Card,CAD,2018-02-24
26,58,117635,20691,3609,339.000000,2018-02-06 15:46:36.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-06 15:46:40.000000 UTC,2018-02-06 15:46:40.000000 UTC,qv200,Credit Card,CAD,2018-02-06
27,60,112565,14225,3451,110.680000,2018-01-05 20:19:33.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-05 20:19:39.000000 UTC,2018-01-05 20:19:39.000000 UTC,qv200,Credit Card,CAD,2018-01-05
28,62,116305,7711,3575,33.840000,2018-01-28 15:35:42.000000 UTC,REFUND,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,NaN,False,2018-01-28 15:35:42.000000 UTC,2018-01-28 15:35:42.000000 UTC,qv200,Refund,NaN,2018-01-28
29,63,116387,20789,3581,33.840000,2018-01-29 01:48:59.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-29 01:49:02.000000 UTC,2018-01-29 01:49:02.000000 UTC,qv200,Credit Card,CAD,2018-01-29
30,64,116385,20789,3579,110.680000,2018-01-29 01:08:24.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-29 01:08:28.000000 UTC,2018-01-29 01:08:28.000000 UTC,qv200,Credit Card,CAD,2018-01-29
31,65,116301,7711,3573,33.840000,2018-01-28 15:34:34.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-28 15:34:37.000000 UTC,2018-01-28 15:34:37.000000 UTC,qv200,Credit Card,CAD,2018-01-28
32,68,116589,11795,3585,339.000000,2018-01-30 12:43:40.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-30 12:43:44.000000 UTC,2018-01-30 12:43:44.000000 UTC,qv200,Credit Card,CAD,2018-01-30
33,72,116031,21721,3569,33.840000,2018-01-26 19:00:07.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-26 19:00:13.000000 UTC,2018-01-26 19:00:13.000000 UTC,qv200,Credit Card,CAD,2018-01-26
34,73,118237,22563,3619,197.750000,2018-02-09 22:06:29.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderXmlrpc,False,2018-02-09 22:06:32.000000 UTC,2018-02-09 22:06:32.000000 UTC,qv200,Credit Card,CAD,2018-02-09
35,75,119715,20159,3637,339.000000,2018-02-18 16:20:43.000000 UTC,REFUND,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,NaN,False,2018-02-18 16:20:45.000000 UTC,2018-02-18 16:20:45.000000 UTC,qv200,Refund,NaN,2018-02-18
36,76,119757,14225,3641,339.000000,2018-02-18 23:19:08.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-18 23:19:11.000000 UTC,2018-02-18 23:19:11.000000 UTC,qv200,Credit Card,CAD,2018-02-18
37,77,119675,22589,3635,339.000000,2018-02-18 14:50:58.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-18 14:51:03.000000 UTC,2018-02-18 14:51:03.000000 UTC,qv200,Credit Card,CAD,2018-02-18
38,78,119673,6018,3633,75.709999,2018-02-18 14:12:23.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-18 14:12:28.000000 UTC,2018-02-18 14:12:28.000000 UTC,qv200,Credit Card,CAD,2018-02-18
39,80,117399,22491,3595,565.000000,2018-02-04 23:10:05.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-04 23:10:11.000000 UTC,2018-02-04 23:10:11.000000 UTC,qv200,Credit Card,CAD,2018-02-04
40,81,117401,22493,3597,197.750000,2018-02-05 02:10:18.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-05 02:10:24.000000 UTC,2018-02-05 02:10:24.000000 UTC,qv200,Credit Card,CAD,2018-02-05
41,82,112969,6319,3459,226.000000,2018-01-08 16:48:03.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-08 16:48:08.000000 UTC,2018-01-08 16:48:08.000000 UTC,qv200,Credit Card,CAD,2018-01-08
42,83,120027,22617,3645,339.000000,2018-02-20 18:50:10.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-20 18:50:15.000000 UTC,2018-02-20 18:50:15.000000 UTC,qv200,Credit Card,CAD,2018-02-20
43,86,114831,20703,3525,33.900002,2018-01-19 23:03:43.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-19 23:03:48.000000 UTC,2018-01-19 23:03:48.000000 UTC,qv200,Credit Card,CAD,2018-01-19
44,87,114829,20691,3523,226.000000,2018-01-19 20:17:19.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-19 20:17:24.000000 UTC,2018-01-19 20:17:24.000000 UTC,qv200,Credit Card,CAD,2018-01-19
45,88,114787,12327,3521,110.680000,2018-01-19 16:11:36.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-19 16:11:41.000000 UTC,2018-01-19 16:11:41.000000 UTC,qv200,Credit Card,CAD,2018-01-19
46,89,120971,11499,3663,565.000000,2018-02-26 14:35:52.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-26 14:35:57.000000 UTC,2018-02-26 14:35:57.000000 UTC,qv200,Credit Card,CAD,2018-02-26
47,90,115495,21265,3547,33.840000,2018-01-23 18:26:26.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-23 18:26:32.000000 UTC,2018-01-23 18:26:32.000000 UTC,qv200,Credit Card,CAD,2018-01-23
48,91,115497,21271,3549,565.000000,2018-01-23 21:06:21.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-23 21:06:26.000000 UTC,2018-01-23 21:06:26.000000 UTC,qv200,Credit Card,CAD,2018-01-23
49,95,113115,20237,3461,33.840000,2018-01-09 15:06:34.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-09 15:06:39.000000 UTC,2018-01-09 15:06:39.000000 UTC,qv200,Credit Card,CAD,2018-01-09
50,96,113189,20269,3463,420.359985,2018-01-10 01:33:31.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-10 01:33:36.000000 UTC,2018-01-10 01:33:36.000000 UTC,qv200,Credit Card,CAD,2018-01-10
51,97,119911,6319,3643,339.000000,2018-02-19 22:13:47.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-19 22:13:50.000000 UTC,2018-02-19 22:13:50.000000 UTC,qv200,Credit Card,CAD,2018-02-19
52,99,119249,14225,3631,151.419998,2018-02-15 17:45:08.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-15 17:45:11.000000 UTC,2018-02-15 17:45:11.000000 UTC,qv200,Credit Card,CAD,2018-02-15
53,100,119205,21323,3627,565.000000,2018-02-15 13:15:19.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-15 13:15:24.000000 UTC,2018-02-15 13:15:24.000000 UTC,qv200,Credit Card,CAD,2018-02-15
54,101,112111,18569,3435,197.750000,2018-01-02 22:18:35.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderXmlrpc,False,2018-01-02 22:18:38.000000 UTC,2018-01-02 22:18:38.000000 UTC,qv200,Credit Card,CAD,2018-01-02
55,102,116491,22405,3583,110.680000,2018-01-29 19:40:13.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-29 19:40:19.000000 UTC,2018-01-29 19:40:19.000000 UTC,qv200,Credit Card,CAD,2018-01-29
56,103,113629,6675,3471,110.680000,2018-01-12 14:43:53.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-12 14:43:58.000000 UTC,2018-01-12 14:43:58.000000 UTC,qv200,Credit Card,CAD,2018-01-12
57,104,113631,20269,3473,565.000000,2018-01-12 17:29:30.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-12 17:29:34.000000 UTC,2018-01-12 17:29:34.000000 UTC,qv200,Credit Card,CAD,2018-01-12
58,105,113633,20343,3475,339.000000,2018-01-12 17:35:43.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-12 17:35:49.000000 UTC,2018-01-12 17:35:49.000000 UTC,qv200,Credit Card,CAD,2018-01-12
59,106,117475,22511,3599,565.000000,2018-02-05 14:30:58.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-05 14:31:03.000000 UTC,2018-02-05 14:31:03.000000 UTC,qv200,Credit Card,CAD,2018-02-05
60,116,115703,15585,3557,226.000000,2018-01-24 21:47:11.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-24 21:47:15.000000 UTC,2018-01-24 21:47:15.000000 UTC,qv200,Credit Card,CAD,2018-01-24
61,119,121329,20405,3673,197.750000,2018-02-28 20:14:25.000000 UTC,REFUND,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,NaN,False,2018-02-28 20:14:27.000000 UTC,2018-02-28 20:14:27.000000 UTC,qv200,Refund,NaN,2018-02-28
62,120,121327,23343,3671,339.000000,2018-02-28 20:10:26.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-28 20:10:32.000000 UTC,2018-02-28 20:10:32.000000 UTC,qv200,Credit Card,CAD,2018-02-28
63,121,121285,20405,3669,197.750000,2018-02-28 14:39:39.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-28 14:39:44.000000 UTC,2018-02-28 14:39:44.000000 UTC,qv200,Credit Card,CAD,2018-02-28

In [3]:
df_wp = pd.read_csv('wepay.csv')
df_wp['create_time'] = pd.to_datetime(df_wp.create_time, unit='s')
df_wp['day_created'] = pd.to_datetime(df_wp['create_time'])
df_wp['day_created'] = pd.DatetimeIndex(df_wp['day_created'] ).normalize()

df_wp = df_wp[df_wp.account_name.str.contains('qv200') & (df_wp.day_created >= '2018-01-01') & (df_wp.day_created < '2018-03-01')].reset_index()

df_wp.drop(['account_name','checkout_uri','payer_email','payer_name'], axis=1, inplace=True)

df_wp

,index,checkout_id,account_id,type,short_description,currency,amount,fee_payer,state,redirect_uri,auto_capture,app_fee,create_time,amount_refunded,amount_charged_back,gross,fee,long_description,reference_id,callback_uri,shipping_address,shipping_fee,preapproval_id,tax,day_created
0,1112,1854219689,479437278,GOODS,Auto Charge For Invoice Ids:3377,CAD,339.00,payee,captured,NaN,1,0,2018-02-28 20:10:29,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-28
1,1131,1442245989,479437278,GOODS,Auto Charge For Invoice Ids:3375,CAD,197.75,payee,refunded,NaN,1,0,2018-02-28 14:39:41,197.75,0.0,197.75,6.03,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-28
2,1244,693674592,479437278,GOODS,Auto Charge For Invoice Ids:3367,CAD,565.00,payee,captured,NaN,1,0,2018-02-26 14:35:55,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-26
3,1282,1624981774,479437278,GOODS,Auto Charge For Invoice Ids:3365,CAD,197.75,payee,captured,NaN,1,0,2018-02-25 14:27:40,0.00,0.0,197.75,6.03,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-25
4,1294,453644247,479437278,GOODS,Auto Charge For Invoice Ids:3363,CAD,339.00,payee,captured,NaN,1,0,2018-02-24 19:18:17,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-24
5,1328,353088085,479437278,GOODS,Auto Charge For Invoice Ids:3361,CAD,75.71,payee,captured,NaN,1,0,2018-02-23 05:26:49,0.00,0.0,75.71,2.49,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-23
6,1343,1207757106,479437278,GOODS,Auto Charge For Invoice Ids:3359,CAD,75.71,payee,captured,NaN,1,0,2018-02-23 02:08:38,0.00,0.0,75.71,2.49,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-23
7,1392,456973385,479437278,GOODS,Auto Charge For Invoice Ids:3357,CAD,339.00,payee,captured,NaN,1,0,2018-02-21 20:25:58,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-21
8,1394,2015559781,479437278,GOODS,Auto Charge For Invoice Ids:3355,CAD,565.00,payee,captured,NaN,1,0,2018-02-21 19:37:55,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-21
9,1435,1624983822,479437278,GOODS,Auto Charge For Invoice Ids:3351,CAD,339.00,payee,captured,NaN,1,0,2018-02-20 18:50:13,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-20
10,1468,88614843,479437278,GOODS,Auto Charge For Invoice Ids:3349,CAD,339.00,payee,captured,NaN,1,0,2018-02-19 22:13:47,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-19
11,1502,642048812,479437278,GOODS,Auto Charge For Invoice Ids:3347,CAD,339.00,payee,captured,NaN,1,0,2018-02-18 23:19:08,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-18
12,1507,1887684556,479437278,GOODS,Auto Charge For Invoice Ids:3345,CAD,339.00,payee,captured,NaN,1,0,2018-02-18 14:51:00,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-18
13,1508,1500331886,479437278,GOODS,Auto Charge For Invoice Ids:3343,CAD,75.71,payee,captured,NaN,1,0,2018-02-18 14:12:25,0.00,0.0,75.71,2.49,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-18
14,1638,1638277581,479437278,GOODS,Auto Charge For Invoice Ids:3341,CAD,151.42,payee,captured,NaN,1,0,2018-02-15 17:45:09,0.00,0.0,151.42,4.69,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-15
15,1650,1640410665,479437278,GOODS,Auto Charge For Invoice Ids:3337,CAD,565.00,payee,captured,NaN,1,0,2018-02-15 13:15:22,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-15
16,1786,894037644,479437278,GOODS,Auto Charge For Invoice Ids:3333,CAD,339.00,payee,refunded,NaN,1,0,2018-02-11 16:29:16,339.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-11
17,1824,1339145853,479437278,GOODS,Auto Charge For Invoice Ids:3329,CAD,197.75,payee,captured,NaN,1,0,2018-02-09 22:06:29,0.00,0.0,197.75,6.03,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-09
18,1860,1502387185,479437278,GOODS,Auto Charge For Invoice Ids:3327,CAD,565.00,payee,captured,NaN,1,0,2018-02-08 22:24:51,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-08
19,1886,505882859,479437278,GOODS,Auto Charge For Invoice Ids:3325,CAD,565.00,payee,captured,NaN,1,0,2018-02-08 14:06:20,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-08
20,1970,1034923738,479437278,GOODS,Auto Charge For Invoice Ids:3315,CAD,339.00,payee,captured,NaN,1,0,2018-02-06 15:46:37,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-06
21,2021,1900516329,479437278,GOODS,Auto Charge For Invoice Ids:3307,CAD,565.00,payee,captured,NaN,1,0,2018-02-05 14:31:00,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-05
22,2035,1998131520,479437278,GOODS,Auto Charge For Invoice Ids:3305,CAD,197.75,payee,captured,NaN,1,0,2018-02-05 02:10:21,0.00,0.0,197.75,6.03,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-05
23,2041,1502742921,479437278,GOODS,Auto Charge For Invoice Ids:3303,CAD,565.00,payee,captured,NaN,1,0,2018-02-04 23:10:07,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-04
24,2318,1464710583,479437278,GOODS,Auto Charge For Invoice Ids:3291,CAD,339.00,payee,captured,NaN,1,0,2018-01-30 12:43:41,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-30
25,2343,1280937345,479437278,GOODS,Auto Charge For Invoice Ids:3289,CAD,110.68,payee,captured,NaN,1,0,2018-01-29 19:40:16,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-29
26,2359,1300487241,479437278,GOODS,Auto Charge For Invoice Ids:3287,CAD,33.84,payee,captured,NaN,1,0,2018-01-29 01:48:59,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-29
27,2368,2125847028,479437278,GOODS,Auto Charge For Invoice Ids:3285,CAD,110.68,payee,captured,NaN,1,0,2018-01-29 01:08:25,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-29
28,2378,1969011946,479437278,GOODS,Auto Charge For Invoice Ids:3283,CAD,33.84,payee,refunded,NaN,1,0,2018-01-28 15:34:34,33.84,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-28
29,2433,246648361,479437278,GOODS,Auto Charge For Invoice Ids:3279,CAD,33.84,payee,captured,NaN,1,0,2018-01-26 19:00:10,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-26
30,2457,1030163417,479437278,GOODS,Auto Charge For Invoice Ids:3275,CAD,110.68,payee,captured,NaN,1,0,2018-01-26 04:08:32,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-26
31,2486,1575224609,479437278,GOODS,Auto Charge For Invoice Ids:3269,CAD,33.84,payee,captured,NaN,1,0,2018-01-25 15:07:53,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-25
32,2504,1216630397,479437278,GOODS,Auto Charge For Invoice Ids:3265,CAD,226.00,payee,captured,NaN,1,0,2018-01-24 21:47:13,0.00,0.0,226.00,6.85,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-24
33,2543,114993459,479437278,GOODS,Auto Charge For Invoice Ids:3259,CAD,565.00,payee,captured,NaN,1,0,2018-01-23 21:06:23,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-23
34,2551,2097360337,479437278,GOODS,Auto Charge For Invoice Ids:3257,CAD,33.84,payee,captured,NaN,1,0,2018-01-23 18:26:29,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-23
35,2637,1113320832,479437278,GOODS,Auto Charge For Invoice Ids:3251,CAD,226.00,payee,captured,NaN,1,0,2018-01-21 03:01:17,0.00,0.0,226.00,6.85,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-21
36,2669,77630722,479437278,GOODS,Auto Charge For Invoice Ids:3245,CAD,33.90,payee,captured,NaN,1,0,2018-01-19 23:03:45,0.00,0.0,33.90,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-19
37,2676,593688922,479437278,GOODS,Auto Charge For Invoice Ids:3243,CAD,226.00,payee,captured,NaN,1,0,2018-01-19 20:17:21,0.00,0.0,226.00,6.85,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-19
38,2687,1232953577,479437278,GOODS,Auto Charge For Invoice Ids:3241,CAD,110.68,payee,captured,NaN,1,0,2018-01-19 16:11:39,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-19
39,2711,195507927,479437278,GOODS,Auto Charge For Invoice Ids:3239,CAD,67.69,payee,captured,NaN,1,0,2018-01-19 01:40:45,0.00,0.0,67.69,2.26,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-19
40,2717,1957594970,479437278,GOODS,Auto Charge For Invoice Ids:3237,CAD,33.84,payee,captured,NaN,1,0,2018-01-18 21:24:09,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-18
41,2734,477369397,479437278,GOODS,Auto Charge For Invoice Ids:3233,CAD,33.84,payee,captured,NaN,1,0,2018-01-18 15:48:32,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-18
42,2739,1902291226,479437278,GOODS,Auto Charge For Invoice Ids:3231,CAD,33.84,payee,captured,NaN,1,0,2018-01-18 12:49:30,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-18
43,2837,1273604418,479437278,GOODS,Auto Charge For Invoice Ids:3225,CAD,226.00,payee,captured,NaN,1,0,2018-01-16 16:51:29,0.00,0.0,226.00,6.85,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-16
44,2948,776827504,479437278,GOODS,Auto Charge For Invoice Ids:3215,CAD,110.68,payee,captured,NaN,1,0,2018-01-15 15:37:31,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-15
45,2951,416612919,479437278,GOODS,Auto Charge For Invoice Ids:3213,CAD,67.69,payee,captured,NaN,1,0,2018-01-15 15:26:59,0.00,0.0,67.69,2.26,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-15
46,2956,515513228,479437278,GOODS,Auto Charge For Invoice Ids:3209,CAD,33.84,payee,captured,NaN,1,0,2018-01-15 14:45:30,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-15
47,3064,1976908902,479437278,GOODS,Auto Charge For Invoice Ids:3203,CAD,339.00,payee,captured,NaN,1,0,2018-01-12 17:35:45,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-12
48,3065,878383702,479437278,GOODS,Auto Charge For Invoice Ids:3201,CAD,565.00,payee,captured,NaN,1,0,2018-01-12 17:29:31,0.00,0.0,565.00,16.68,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-12
49,3076,1640892029,479437278,GOODS,Auto Charge For Invoice Ids:3199,CAD,110.68,payee,captured,NaN,1,0,2018-01-12 14:43:56,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-12
50,3094,695282075,479437278,GOODS,Auto Charge For Invoice Ids:3197,CAD,67.69,payee,captured,NaN,1,0,2018-01-11 23:53:02,0.00,0.0,67.69,2.26,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-11
51,3096,638446123,479437278,GOODS,Auto Charge For Invoice Ids:3195,CAD,33.84,payee,captured,NaN,1,0,2018-01-11 23:16:39,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-11
52,3171,663379530,479437278,GOODS,Auto Charge For Invoice Ids:3191,CAD,420.36,payee,captured,NaN,1,0,2018-01-10 01:33:34,0.00,0.0,420.36,12.49,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-10
53,3211,723566315,479437278,GOODS,Auto Charge For Invoice Ids:3189,CAD,33.84,payee,captured,NaN,1,0,2018-01-09 15:06:36,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-09
54,3247,73833519,479437278,GOODS,Auto Charge For Invoice Ids:3187,CAD,226.00,payee,captured,NaN,1,0,2018-01-08 16:48:05,0.00,0.0,226.00,6.85,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-08
55,3288,1140763642,479437278,GOODS,Auto Charge For Invoice Ids:3185,CAD,110.68,payee,refunded,NaN,1,0,2018-01-07 04:38:52,110.68,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-07
56,3289,1092089362,479437278,GOODS,Auto Charge For Invoice Ids:3183,CAD,33.84,payee,refunded,NaN,1,0,2018-01-07 04:28:18,33.84,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-07
57,3322,488950342,479437278,GOODS,Auto Charge For Invoice Ids:3179,CAD,110.68,payee,captured,NaN,1,0,2018-01-05 20:19:36,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-05
58,3404,54484878,479437278,GOODS,Auto Charge For Invoice Ids:3163,CAD,33.84,payee,captured,NaN,1,0,2018-01-03 18:05:54,0.00,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-03
59,3435,1569717197,479437278,GOODS,Auto Charge For Invoice Ids:3161,CAD,197.75,payee,captured,NaN,1,0,2018-01-02 22:18:36,0.00,0.0,197.75,6.03,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-02
60,3495,1756725883,479437278,GOODS,Auto Charge For Invoice Ids:3159,CAD,110.68,payee,captured,NaN,1,0,2018-01-01 18:56:25,0.00,0.0,110.68,3.50,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-01

The lengths of these two identically-filtered datasets are given:

In [4]:
print(f'Our BQ data is {len(df_bq)} rows')
print(f'The WePay data is {len(df_wp)} rows')

Our BQ data is 64 rows
The WePay data is 61 rows

Group these two by day into `wp_groupdays` and `bq_groupdays`, and then find for which days the transaction counts are different.

In [5]:
wp_groupdays = df_wp.groupby('day_created').agg('count')['amount'].reset_index()
bq_groupdays = df_bq.groupby('day_created').agg('count')['TotalAmountPaid'].reset_index()

days_unmatched = []
for x in range(0,len(bq_groupdays)):
    if bq_groupdays.iloc[x,1] != wp_groupdays.iloc[x,1]:
        print(bq_groupdays.iloc[x,0])
        print(f'bq says we have {bq_groupdays.iloc[x,1]} transactions on this date, while wp says we have {wp_groupdays.iloc[x,1]}')
        days_unmatched.append(datetime.datetime.strftime(bq_groupdays.iloc[x,0], format='%Y-%m-%d'))

2018-01-28 00:00:00
bq says we have 2 transactions on this date, while wp says we have 1
2018-02-18 00:00:00
bq says we have 4 transactions on this date, while wp says we have 3
2018-02-28 00:00:00
bq says we have 3 transactions on this date, while wp says we have 2

Loop through these `unmatched_days` and print off what we have.

In [6]:
df_bq[df_bq.day_created.isin(days_unmatched)].sort_values('PaymentDate')

,index,Id,ContactId,PaymentId,TotalAmountPaid,PaymentDate,TransactionType,CollectionMethod,PaymentSubType,PaymentGatewayId,ErrorMessage,TestPayment,GeneralValidationPassed,StrategyValidationPassed,ExecuteRan,ResultsBuilt,ErrorsMapped,Source,Deleted,DateCreated,LastUpdated,appName,PayType,CurrencyCode,day_created
31,65,116301,7711,3573,33.840000,2018-01-28 15:34:34.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-01-28 15:34:37.000000 UTC,2018-01-28 15:34:37.000000 UTC,qv200,Credit Card,CAD,2018-01-28
28,62,116305,7711,3575,33.840000,2018-01-28 15:35:42.000000 UTC,REFUND,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,NaN,False,2018-01-28 15:35:42.000000 UTC,2018-01-28 15:35:42.000000 UTC,qv200,Refund,NaN,2018-01-28
38,78,119673,6018,3633,75.709999,2018-02-18 14:12:23.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-18 14:12:28.000000 UTC,2018-02-18 14:12:28.000000 UTC,qv200,Credit Card,CAD,2018-02-18
37,77,119675,22589,3635,339.000000,2018-02-18 14:50:58.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-18 14:51:03.000000 UTC,2018-02-18 14:51:03.000000 UTC,qv200,Credit Card,CAD,2018-02-18
35,75,119715,20159,3637,339.000000,2018-02-18 16:20:43.000000 UTC,REFUND,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,NaN,False,2018-02-18 16:20:45.000000 UTC,2018-02-18 16:20:45.000000 UTC,qv200,Refund,NaN,2018-02-18
36,76,119757,14225,3641,339.000000,2018-02-18 23:19:08.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-18 23:19:11.000000 UTC,2018-02-18 23:19:11.000000 UTC,qv200,Credit Card,CAD,2018-02-18
63,121,121285,20405,3669,197.750000,2018-02-28 14:39:39.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-28 14:39:44.000000 UTC,2018-02-28 14:39:44.000000 UTC,qv200,Credit Card,CAD,2018-02-28
62,120,121327,23343,3671,339.000000,2018-02-28 20:10:26.000000 UTC,CAPTURE,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,orderForm,False,2018-02-28 20:10:32.000000 UTC,2018-02-28 20:10:32.000000 UTC,qv200,Credit Card,CAD,2018-02-28
61,119,121329,20405,3673,197.750000,2018-02-28 20:14:25.000000 UTC,REFUND,PAYMENT_GATEWAY,INF_PAY,1,NaN,False,True,True,True,True,False,NaN,False,2018-02-28 20:14:27.000000 UTC,2018-02-28 20:14:27.000000 UTC,qv200,Refund,NaN,2018-02-28

In [7]:
df_wp[df_wp.day_created.isin(days_unmatched)].sort_values('create_time')

,index,checkout_id,account_id,type,short_description,currency,amount,fee_payer,state,redirect_uri,auto_capture,app_fee,create_time,amount_refunded,amount_charged_back,gross,fee,long_description,reference_id,callback_uri,shipping_address,shipping_fee,preapproval_id,tax,day_created
28,2378,1969011946,479437278,GOODS,Auto Charge For Invoice Ids:3283,CAD,33.84,payee,refunded,NaN,1,0,2018-01-28 15:34:34,33.84,0.0,33.84,1.28,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-01-28
13,1508,1500331886,479437278,GOODS,Auto Charge For Invoice Ids:3343,CAD,75.71,payee,captured,NaN,1,0,2018-02-18 14:12:25,0.00,0.0,75.71,2.49,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-18
12,1507,1887684556,479437278,GOODS,Auto Charge For Invoice Ids:3345,CAD,339.00,payee,captured,NaN,1,0,2018-02-18 14:51:00,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-18
11,1502,642048812,479437278,GOODS,Auto Charge For Invoice Ids:3347,CAD,339.00,payee,captured,NaN,1,0,2018-02-18 23:19:08,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-18
1,1131,1442245989,479437278,GOODS,Auto Charge For Invoice Ids:3375,CAD,197.75,payee,refunded,NaN,1,0,2018-02-28 14:39:41,197.75,0.0,197.75,6.03,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-28
0,1112,1854219689,479437278,GOODS,Auto Charge For Invoice Ids:3377,CAD,339.00,payee,captured,NaN,1,0,2018-02-28 20:10:29,0.00,0.0,339.00,10.13,NaN,NaN,https://qv200.infusionsoft.com/app/ipn/wepay/t...,NaN,0,NaN,0,2018-02-28

We can now see the three entries in BQ that are not in WePay - the CAPTURE for 33.84 on 2018-01-28, the REFUND for 339.00 on 2018-02-18, and the CAPTURE for 197.75 on 2018-02-28.